<div class="jumbotron container text-center">
	<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel" ng-if="admin">Flights Management</h4>

    <h4 class="modal-title" id="myModalLabel" ng-if="!admin">Flights Information</h4>

    <div>
      <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Departure ATO</th>
          <th>Arrival ATO</th>
          <th>Departure Time</th>
          <th>Arrival Time</th>
          <th>Status</th>
          <th>Options</th>       
        </tr>
      </thead>
      <tr ng-repeat="flight in listFlights">
        <td>{{flight.id}}</td>
        <td>{{flight.depATO}}</td>
        <td>{{flight.arrivATO}}</td>
        <td>{{flight.depTime}}</td>
        <td>{{flight.arrivTime}}</td>
        <td>{{getStatus(flight.status)}}</td>
        <td>
          <button type="button" class="btn btn-default" ng-if="admin" ng-click="cancelFlight(flight.id)" style="background-color: rgba(193, 39, 45, 1);">Cancel Flight</button>
          <button type="button" class="btn btn-default" ng-if="admin" ng-click="openFlightForm(flight.id)" style="background-color: rgba(80, 124, 10, 1);">Modify Flight</button> 
          <button type="button" class="btn btn-default" ng-if="!admin" ng-click="openFlightStatusForm()" style="background-color: rgba(80, 124, 10, 1);">Flight Status</button>
          <button type="button" class="btn btn-default" ng-if="!admin" ng-click="openFlightForm(flight.id)" style="background-color: rgba(80, 124, 10, 1);">Passenger Boarding</button></td>
      </tr>
  </table>
    </div>

    <button type="button" class="btn btn-default" ng-click="openFlightForm(0)" ng-if="admin" style="background-color: rgba(80, 124, 10, 1);">New Flight</button>
  </div> 
</div>