<div class="jumbotron container text-center">
	<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Staff Account Management</h4>

    <div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>First Surname</th>
            <th>Second Surname</th>
            <th>Role</th>      
          </tr>
        </thead>
        <tr ng-repeat="staff in listStaff">
          <td>{{staff.id}}</td>
          <td>{{staff.name}}</td>
          <td>{{staff.firstSurname}}</td>
          <td>{{staff.secondSurname}}</td>
          <td>{{staff.role}}</td>
          <td><button type="button" class="btn btn-default" ng-click="removeAccount()" style="background-color: rgba(193, 39, 45, 1);">Delete Account</button></td>
        </tr>
      </table>
    </div>

    <button type="button" class="btn btn-default"  style="background-color: rgba(80, 124, 10, 1);" ng-click="openStaffForm()">New Staff Account</button>
  </div> 
</div>