body {
    background-image: url("/images/airplane.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

footer {
  /*position: absolute;
  right: 0;
  bottom: 0;
  left: 0;*/
  padding: 1rem;
  text-align: center;
  background-color:rgba(242, 242, 242, 0.6);
}

.navbar {
	background-color: rgba(20, 14, 57, .8);
	color: rgba(255, 255, 255, 1);
}

.myButton {
	-moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
	-webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
	box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background-color:#a73f2d;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:14px 41px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d;
}
.myButton:hover {
	background-color:#b34332;
}
.myButton:active {
	position:relative;
	top:1px;
}
