<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="tecAirlineApp">

<head>
  <!-- SCROLLS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

  <!-- SPELLS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <script src="ui-bootstrap-tpls-2.5.0.min.js" type="text/javascript"></script>
  <script src="staffApp.js"></script>
</head>

<nav class="navbar navbar-default" role="navigation" ng-if="isLogged">
    <div class="navbar-header">
        <a class="navbar-brand">TEC-Airlines</a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed" ng-if="!admin">
        <ul class="nav navbar-nav navbar-right">
            <li uib-dropdown on-toggle="toggled(open)">
                <a href id="simple-dropdown" class="nav-text" uib-dropdown-toggle>Signed in as Flight Attendant<span class="caret"></span></a>
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li><a ng-click="goTo('flights')">Flight Information</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="goTo('checkin')">Check-In</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="logout()">Sign Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed" ng-if="admin">
        <ul class="nav navbar-nav navbar-right">
            <li uib-dropdown on-toggle="toggled(open)">
                <a href id="simple-dropdown" class="nav-text" uib-dropdown-toggle>Signed in as Admin<span class="caret"></span></a>
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li><a ng-click="goTo('flights')">Flights Management</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="goTo('staff')">Staff Account Management</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="logout()">Sign Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!-- define angular controller -->
<body ng-controller="mainController">
  <script type="text/ng-template" id="messageForm.html">
    <div>
      <h1>{{message1}}</h1>
    </div>
  </script>

  <script type="text/ng-template" id="flightStatusForm.html">
    <div>
      <table>
        <thead>
          <tr>
            <th>Reserves Made</th>
            <th>Checked Passengers</th>
            <th>Boarded Passengers</th>
        </thead>
        <tr>
          <td>20</td>
          <td>20</td>
          <td>20</td>
        </tr>
      </table>
    </div>
  </script>

  <script type="text/ng-template" id="flightForm.html">
    <form>
      <div>
        <label>ID</label>
        <input class="form-control" type="text" ng-model="id" ng-init="id=infoFlight1.id">
      </div>
      <div>
        <label>Departure Airport</label>
       <input class="form-control" type="text"  ng-model="depATO" ng-init="depATO=infoFlight1.depATO">
      </div>
      <div>
        <label>Arrival Airport</label>
        <input class="form-control" type="text"  ng-model="arrivATO" ng-init="arrivATO=infoFlight1.arrivATO">
      </div>
      <div>
        <label>Departure Date</label>
        <input class="form-control" type="text"  ng-model="depTime" ng-init="depTime=infoFlight1.depTime">
      </div>
      <div>
        <label>Arrival Date</label>
        <input class="form-control" type="text"  ng-model="arrivTime" ng-init="arrivTime=infoFlight1.arrivTime">
      </div>
      <div>
        <label>Stops</label>
        <input class="form-control" type="text">
      </div>
      <div>
        <label>Airplane</label>
        <input class="form-control" type="text"  ng-model="airplane" ng-init="airplane=infoFlight1.airplane">
      </div>
      <div>
        <label>Airline</label>
        <input class="form-control" type="text"  ng-model="airline" ng-init="airline=infoFlight1.airline">
      </div>
      <div>
        <label>Distance</label>
        <input class="form-control" type="text"  ng-model="distance" ng-init="distance=infoFlight1.distance">
      </div>
      <div>
        <label>Price</label>
        <input class="form-control" type="text"  ng-model="price" ng-init="price=infoFlight1.price">
      </div>
      <div>
        <button ng-click="goBack()">Cancel</button>
        <button ng-click="save()">Save</button>
      </div>
    </form>
  </script>

  <script type="text/ng-template" id="staffForm.html">
    <form>
      <div>
        <label>Name</label>
        <input class="form-control" type="text" id="newName" ng-model="newName" ng-init="newName=user.name">
      </div>
      <div>
        <label>First Surname</label>
        <input class="form-control" type="text" id="newFirstSurname" ng-model="newFirstSurname" ng-init="newFirstSurname=user.firstSurname">
      </div>
      <div>
        <label>Second Surname</label>
        <input class="form-control" type="text" id="newSecondSurname" ng-model="newSecondSurname" ng-init="newSecondSurname=user.secondSurname"/
      </div>
      <div>
        <label>Telephone Number</label>
        <input class="form-control" type="text" id="newTelephoneNumber" ng-model="newTelephoneNumber" ng-init="newTelephoneNumber=user.telephoneNumber">
      </div>
      <div>
        <label>Username</label>
        <input class="form-control" type="text" id="newUserName" ng-model="newUserName" ng-init="newUserName=user.username">
      </div>
      <div>
        <label>Password</label>
        <input class="form-control" type="text" id="newPassword" ng-model="newPassword" ng-init="newPassword=user.password">
      </div>
      <div>
        <label>Birthdate</label>
        <input class="form-control" type="text" id="newBirthdate" ng-model="newBirthdate" ng-init="newBirthdate=user.birthdate">
      </div>
      <div>
        <label>Email</label>
        <input class="form-control" type="text" id="newEmail" ng-model="newEmail" ng-init="newEmail=user.email">
      </div>
      <div>
        <label>ID</label>
        <input class="form-control" type="text" id="newID" ng-model="newID" ng-init="newID=user.identification">
      </div>
      <div>
        <label>Role</label>
        <select ng-model="type"><option>Administrator</option><option>Flight Attendant</option></select>
      </div>
      <div>
        <button ng-click="goBack()">Cancel</button>
        <button ng-click="save()">Save</button>
      </div>
    </form>
  </script>

  <div id="main">
  
    <!-- angular templating -->
        <!-- this is where content will be injected -->
    <div ng-view></div>
    
  </div>
</body>

</html>