<div class="jumbotron text-center" style="background-color:rgba(242, 242, 242, 0.6);">
	<div class="container">
	  	<div class="row">
	    	<div class="col-sm-4">
	    		<uib-accordion close-others="oneAtATime">
			    	<div uib-accordion-group class="panel-default" heading="Flight Search" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
				      	<div class="container">
				        	<form>
							    <div class="col-md-4 form-group">
							        <label>From: </label>
							        <input class="form-control" type="text"/>
						    	</div>
						    	<div class="col-md-8 form-group">
							        <label>Depart</label>
							        <input class="form-control" type="date"/>
						    	</div>
						    	<div class="col-md-4 form-group">
							        <label>To: </label>
							        <input class="form-control" type="text"/>
						    	</div>
						    	<div class="col-md-8 form-group">
							        <label>Return</label>
							        <input class="form-control" type="date"/>
						    	</div>
							    <button type="submit" class="btn btn-default" ng-click="searchFlights()" style="background-color: rgba(80, 124, 10, 1);">Search</button>
						  	</form>
				        </div>
				    </div>
				</uib-accordion>
	    	</div>

	    	<div class="col-sm-4">
	    		<uib-accordion>
	    			<div uib-accordion-group class="panel-default" heading="Flight Status">
					    <div class="container">
						  	<form>
							    <div class="col-md-12 form-group">
							        <label>Flight Date</label>
							        <input class="form-control" type="date"/>
						    	</div>
						    	<div class="col-md-12 form-group">
							        <label>Flight Number</label>
							        <input class="form-control" type="text"/>
						    	</div>
						    	<div class="col-md-12 form-group">
						    		<label>-------- OR --------</label>
						    	</div>
						    	<div class="col-md-6 form-group">
							        <label>From: </label>
							        <input class="form-control" type="date"/>
						    	</div>
						    	<div class="col-md-6 form-group">
							        <label>To: </label>
							        <input class="form-control" type="date"/>
						    	</div>
							    <button type="submit" class="btn btn-default" ng-click="flightStatus()" style="background-color: rgba(80, 124, 10, 1);">Search</button>
						  	</form>
						</div>
				    </div>
	    		</uib-accordion>
	    	</div>

	    	<div class="col-sm-4">
	    		<uib-accordion>
	    			<div uib-accordion-group class="panel-default" heading="Check-In">
				    	<div class="container">
						  	<form>
							    <div class="col-md-12 form-group">
							        <label>Flight Reservation Number</label>
							        <input class="form-control" type="text"/>
						    	</div>
						    	<div class="col-md-12 form-group">
						    		<label>-------- OR --------</label>
						    	</div>
						    	<div class="col-md-6 form-group">
							        <label>Name</label>
							        <input class="form-control" type="text"/>
						    	</div>
						    	<div class="col-md-6 form-group">
							        <label>ID</label>
							        <input class="form-control" type="text"/>
						    	</div>
						    	<div class="col-md-6 form-group">
							        <label>Last Name</label>
							        <input class="form-control" type="text"/>
						    	</div>
						    	<div class="col-md-6 form-group">
							        <label>Date</label>
							        <input class="form-control" type="date"/>
						    	</div>
							    <button type="submit" class="btn btn-default" style="background-color: rgba(80, 124, 10, 1);" ng-click="checkIn()">Check-In</button>
						  	</form>
						</div>
				    </div>
	    		</uib-accordion>
	    	</div>
	  	</div>
	</div>
</div>