<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">TEC-Airlines</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a ng-click="openSignupForm()">Sign Up</a></li>
      <li><a ng-click="openLoginForm()">Login</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div>
    <label>Tickets: </label>
    <input class="form-control" type="number" min="1" max="9" id="number" ng-model="number" ng-init="number=1"/>
    <select ng-model="filter" ng-change="changeFilter(filter)"><option>price</option><option>duration</option><option>scales</option></select>
  </div>
	<table>
	  	<tr ng-repeat="flight in listFlights.slice(((currentPage-1)*20), ((currentPage)*20)) | orderBy:filter">
	  		<td>{{ flight.id }}</td>
		    <td>{{ flight.depATO }}</td>
		    <td>{{ flight.arrivATO }}</td>
		    <td>{{ flight.duration }}</td>
		    <td>{{ flight.price }}</td>
		    <td>{{ flight.depTime }}</td>
		    <td>{{ flight.arrivTime }}</td>
        <td>{{ flight.scales }}</td>
		    <td><button ng-click="openReservationForm()">Make A Reservation</button></td>
	  	</tr>
	</table>
  <ul uib-pagination direction-links="false" total-items="totalItems" ng-model="currentPage" num-pages="smallnumPages" items-per-page="20"></ul>
	<div>
		<button ng-click="goTo('')">Back</button>
	</div>
</div>

<footer class="text-center">
  <div ng-controller="promotionController">
    <div style="height: 305px">
      <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
          <img ng-src="{{slide.image}}" style="margin:auto;">
        </div>
      </div>
    </div>
  </div>
</footer>