<div class="jumbotron text-center">
  <div class="modal-header">
    <h4 class="modal-title text-center">Flight Status</h4>
  </div>

  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Price</th>
                <th>Departure Date</th>
                <th>Arrival Date</th>
                <th>Distance</th>
                <th>Stops</th>
              </tr>
            </thead>
            <tr ng-repeat="flight in data.slice(((currentPage-1)*20), ((currentPage)*20)) | orderBy:filter">
              <td>{{ flight.ID }}</td>
              <td>{{ flight.Price }}</td>
              <td>{{ flight.DepartureDate }}</td>
              <td>{{ flight.ArrivalDate }}</td>
              <td>{{ flight.Distance }}</td>
              <td>{{ flight.Stops.length }}</td>
            </tr>
          </table>
          <ul uib-pagination direction-links="false" total-items="21" ng-model="currentPage" num-pages="smallnumPages" items-per-page="20"></ul>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="goTo('')">Back</button>
  </div>
</div