<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">TEC-Airlines</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a ng-click="openSignupForm()">Sign Up</a></li>
      <li><a ng-click="openLoginForm()">Login</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
	<table>
	  	<tr ng-repeat="x in listFlights">
	  		<td>{{x.id}}</td>
		    <td>{{ x.depATO }}</td>
		    <td>{{ x.arrivATO }}</td>
		    <td>{{ x.duration }}</td>
		    <td>{{ x.price }}</td>
		    <td>{{ x.depTime }}</td>
		    <td>{{ x.arrivTime }}</td>
		    <td><button ng-click="openReservationForm(3)">Make A Reservation</button></td>
	  	</tr>
	</table>
	<div>
		<button ng-click="goTo('')">Back</button>
	</div>
</div>

<footer class="text-center">
  <div ng-controller="promotionController">
    <div style="height: 305px">
      <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
          <img ng-src="{{slide.image}}" style="margin:auto;">
        </div>
      </div>
    </div>
  </div>
</footer>